* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

k html,
body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  display: flex;
  height: 100%;
}

.col-md-3 {
  flex: 0 0 280px;
  max-width: 280px;
  height: 100%;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

/* Added styling to the new div around col-md-9 */
.col-md-9-wrapper {
  flex: 1;
  overflow-y: auto;
}

.col-md-9 {
  /* Removed overflow-y from col-md-9 */
  flex: 1;
}

.sidebar {
  height: 100%;
}

.text-bg-dark {
  color: white;
}

.b-example-divider {
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
